<%= turbo_stream_from current_user, target: "user_calendars_list_#{current_user.id}" %>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= t('calendars.title') %> [<%= current_user.email %>]</h1>
    <div>
      <%= link_to t('calendars.sync_button'), sync_calendars_path, data: { "turbo-method": :post }, class: "btn btn-primary #{'disabled' if @sync_status && !@sync_status.ready_to_sync?}" %>
      <%= link_to t('logout'), logout_path, data: { "turbo-method": :delete }, class: 'btn btn-danger' %>
    </div>
  </div>

  <div id="user_calendars_list_<%= current_user.id %>">
    <% if @calendars.present? %>
      <% @calendars.each do |calendar| %>
          <%= render partial: 'calendars/calendar', locals: { calendar: calendar } %>
      <% end %>
    <% else %>
      <div class="alert alert-warning" role="alert">
        <%= t('calendars.no_events') %>
      </div>
    <% end %>
  </div>
</div>
